ul.horizontal li{
display:block;
float:left;
padding:0 10px;
}

#login {
	width: 25%;
	border:4px solid #ccc;
	margin: 20px;
	padding: 20px;
	display: block;
	width: 30%
}

#registro {
	width: 25%;
	border:4px solid #ccc;
	margin: 20px;
	padding: 20px;
	display: block;
	width: 30%
}

#menu {
	width: 25%;
	border:4px solid #ccc;
	margin: 20px;
	padding: 20px;
	display: block;
	width: 30%
	background:green;
}

